@keyframes slide-down {
  0% {
    top: -100vh;
  }
  100% {
    top: 100%;
  }
}

.animate-slide-down {
  position: absolute;
  height: 80vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  z-index: 1;
  animation: slide-down .3s;
}
